<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">

    <div class="layout-footer">
        <h:link outcome="/ruleScreen" styleClass="logo-container">
            <p:graphicImage name="images/harmony-logo.png" library="harmony-layout" />
            <span class="app-name">HARMONY</span>
        </h:link>

        <div class="footer-icons">
            <ul>
                <li>
                    <a>
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fa fa-github"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</ui:composition>