<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <style type="text/css">
        .logo {
            width: 5%
        }

        .detail {
            width: 95%;
            padding-left: 25px;
        }

        .detail td {
            font-size: 24px;
        }

        .ui-datascroller .ui-datascroller-item {
            border-bottom: 1px solid #A8A8A8;
            padding: 25px 10px;
            /* with the exported variables from Nova and Luna Themes*/
            border-bottom-color: var(--input-border-color, #A8A8A8);
        }

        .noHeader.ui-datatable table thead tr {
            display: none;
        }

        .ui-tabs { 
            position: relative; 
            padding: .2em; 
            zoom: 1; 
        }

        .ui-tabview {
            padding: .25em;
            text-align: center;
        }
        #help.ui-tabs.ui-tabs-top > .ui-tabs-nav {
            display: none!important;
        }

    </style>

    <div id="layout-right-panel">
        <div class="nano">
            <div class="nano-content right-panel-scroll-content">
                <h:form>
<!--                    tab for language switching-->
                    <p:tabView activeIndex="0">
                        <p:tab id="sett" title="#{bundleVar.settings}">
                            <div style="height:20px;"></div>
                            <div class="submenu-content settings">
                                <div class="ui-g">
                                    <div class="ui-g-12 ui-md-6">
                                        <div class="status-box language-status">
                                            <i class="fa fa-fw fa-globe box-icon"></i>
                                            <span class="status-name">#{bundleVar.LANGUAGE}</span>
                                            <span class="status">
                                                <p:selectOneMenu id="language" value="#{settingsBean.language}" style="width:150px">
                                                    <f:selectItems value="#{settingsBean.languages}" var="language" itemValue="#{language}" itemLabel="#{language}"/>
                                                    <p:ajax listener="#{settingsBean.switchLanguage}" update="@all"/>
                                                </p:selectOneMenu>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>                      
                        </p:tab>
<!--                        tab for previous results-->
                        <p:tab id="che" title="#{bundleVar.checks}">
                            <div class="submenu-content notes">
                                <p:dataScroller value="#{service.lastResults}" var="check" chunkSize="10">
                                    <f:facet name="header">
                                        <p:outputLabel value="#{bundleVar.lastChecks}" style="font-weight:bold;font-size:16px;color:black;"/>
                                    </f:facet>

                                    <h:panelGrid columns="1" style="width:100%" columnClasses="logo,detail">
                                        <p:commandLink update="@all" action="#{fileUploadBean.changeResult(check)}" style="margin-right:20px;color:black;">
                                            <h:outputLabel value="File: #{check.fileName}" style="font-weight:bold;font-size:16px;"/>
                                        </p:commandLink>

                                        <p:outputLabel id="time" value="#{check.formattedTimeStamp}" style="font-size:16px;" />
                                        
                                        <p:outputPanel>
                                            <p:dataTable styleClass="noHeader" var="check" value="#{check}" tableStyle="width:auto">
                                                <p:column style="background-color:#74B23D;text-align:center;width:#{check.getPercentageOfAll(check.anzCorrectRecords)}%">
                                                    <h:outputText value="#{check.getPercentageOfAll(check.anzCorrectRecords)}%" />
                                                </p:column>

                                                <p:column style="background-color:#FFC400;text-align:center;width:#{check.getPercentageOfAll(check.anzRecordsWithOneError)}%">
                                                    <h:outputText value="#{check.getPercentageOfAll(check.anzRecordsWithOneError)}%" />
                                                </p:column>

                                                <p:column style="background-color:#cc0000;text-align:center;width:#{check.getPercentageOfAll(check.anzRecordsWithMoreErrors)}%">
                                                    <h:outputText value="#{check.getPercentageOfAll(check.anzRecordsWithMoreErrors)}%"/>
                                                </p:column>

                                            </p:dataTable>
                                        </p:outputPanel>
                                    </h:panelGrid>
                                </p:dataScroller>
                            </div>
                        </p:tab>   
<!--                        tab for quote of the day-->
                        <p:tab id="help" title="#{bundleVar.qotd}">
                            <div style="height:20px;"></div>
                            <div class="submenu-content qotd">
                                <div class="ui-g">
                                    <div class="ui-g-12 ui-md-6">
                                        <div class="status-box qotd-status">
                                            <i class="fa fa-fw fa-gift box-icon"></i>
                                            <span class="status-name">#{bundleVar.quoteOfTheDay}</span>
                                            <span class="status">
                                                <p:outputPanel deferred="true">
                                                    <h3>#{dashboardView.quoteOfTheDay}</h3>
                                                </p:outputPanel>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                        </p:tab>
                    </p:tabView>

                </h:form>

                <div class="nano-scroll-footer" />
            </div>
        </div>
    </div>
</ui:composition>