<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets" 
                xmlns:p="http://primefaces.org/ui"
                xmlns:ph="http://primefaces.org/harmony">

    <div class="layout-sidebar">
        <div class="nano">
            <div class="nano-content menu-scroll-content">
                <h:form id="menuform">
                    <ui:insert name="sideBar1" ></ui:insert>

                    <p:poll interval="10" process="@form" update="@form" stop="#{fileUploadBean.displayMessageOnStop()}" />

                    <h:form id="DBForm" rendered="#{fileUploadBean.isDatabaseInProcess()}">

                        <a style="display: block; text-align: center; color:  black" >
                            <i id="DBIcon" class="fa fa-fw fa-database" />
                            <span style="font-weight: bold; font-size: larger;" >Database Progress:</span>
                        </a>
                        <br/>
                        <p:progressBar  id="dataBaseProgressBar" style="height:6px; width: 90%; margin-left: 5%" 
                                       mode="indeterminate" widgetVar="dataBaseProgressBar" />

                    </h:form>
                </h:form>
            </div>
        </div>
    </div>
</ui:composition>
