<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      lang="en">
    <f:view contentType="text/html" locale="#{localeBean.userLoc}">
        <h:head>      
            <f:facet name="first">
                <meta http-equiv="X-UA-Compatible" content="IE=edge" />
                <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
                <meta name="apple-mobile-web-app-capable" content="yes" />
            </f:facet>
            <title><ui:insert name="title">PrimeFaces harmony</ui:insert></title>
            <h:outputScript name="js/nanoscroller.js" library="harmony-layout" />
            <h:outputScript name="js/layout.js" library="harmony-layout" />
            <ui:insert name="head"/>
        </h:head>

        <h:body>
            <div class="layout-wrapper layout-menu-static">
                <ui:insert name="topbar">
                    <ui:include src="./topbar.xhtml" />
                </ui:insert>
                <ui:insert name="rightPanel">
                    <ui:include src="./right_panel.xhtml" />
                </ui:insert>
                <ui:insert name="sideBar">
                    <ui:include src="./sidebar.xhtml" />
                </ui:insert>
                <div class="layout-main">
                    <div class="route-bar">

                        <ui:insert name="routeBar">

                        </ui:insert>
                    </div>

                    <div class="layout-content">
                        <ui:insert name="content"></ui:insert>
                    </div>



                    <div class="layout-mask"></div>
                </div>
            </div>

            <p:ajaxStatus style="width:32px;height:32px;position:fixed;right:7px;bottom:7px">
                <f:facet name="start">
                    <i class="fa fa-2x fa-circle-o-notch fa-spin ajax-status-icon" aria-hidden="true"></i>
                </f:facet>

                <f:facet name="complete">
                    <h:outputText value="" />
                </f:facet>
            </p:ajaxStatus>

            <h:outputStylesheet name="css/nanoscroller.css" library="harmony-layout" />
            <h:outputStylesheet name="css/layout-vanity.css" library="harmony-layout" />

        </h:body>

    </f:view>

</html>