<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/template.xhtml"
                xmlns:ph="http://primefaces.org/harmony"
                >
    <ui:define name="title">
        DataQualityGateWay
    </ui:define>

    <ui:define name="head">
        <h:outputScript>
            function chartExtender(){
            //this = chart widget instance
            //this.cfg = options
            this.cfg.text = 'Hallo',
            this.cfg.grid = {
            background: '#FFF',
            borderWidth: 0,
            shadow: false,
            drawGridLines: false
            };
            }

            function lineExtender() {					      
            this.cfg.seriesDefaults = {
            showMarker: false,	  
            markerOptions: {
            show: false,
            size: 20
            }
            }
            }

            function skinBar() {
            this.cfg.shadow = false;
            this.cfg.grid = {
            background: '#ffffff',
            <!--            borderColor: '#000000',-->
            <!--            gridLineColor: '#F5F5F5',-->
            shadow: false
            };
            this.cfg.seriesDefaults = {
            shadow: false,
            lineWidth: 2,
            margin: 15,
            renderer: $.jqplot.BarRenderer,
            markerOptions: {
            shadow: false,
            size: 7,
            style: 'circle'
            }
            }
            this.cfg.seriesDefaults.rendererOptions = {
            barWidth : 80
            };
            }
        </h:outputScript>

    </ui:define>

    <ui:define name="sideBar1">
        <ph:menu widgetVar="me">
            <p:submenu id="om_dashboard" expanded="true" style="background-color: #f7d5b4;" label="Dashboard" icon="fa fa-fw fa-dashboard">
                <p:menuitem rendered="true" id="om_filename" value="File: #{dashboardView.result.fileName}" disabled="true" style="font-weight:bold;color:#9e5104;"/>
            </p:submenu>
            <p:menuitem id="om_details" value="Details" icon="fa fa-info" outcome="/detailScreen.xhtml"/>
            <p:menuitem id="om_ruleGenerator" value="Rule Generator" icon="fa fa-spinner" outcome="/index.xhtml" />
        </ph:menu>

    </ui:define>

    <ui:define name="content">
        <style type="text/css">
            .ui-panel, div.ui-state-hover {
                margin: 10px;
                width:95%;
            }

            .ui-dashboard-column {
                width:25%;
                padding-bottom: 0px;
            }

        </style>

        <div style="width:100%;height:100%">
            <h:form id="dashboard">
                <p:growl id="msgs" showDetail="true" >
                    <p:autoUpdate />
                </p:growl>

                <p:dashboard id="board" model="#{dashboardView.model}" style="text-align:center;">
                    <p:panel id="records" header="#{bundleVar.records}">
                        <h:outputText value="#{dashboardView.result.recordList.size()}" />
                    </p:panel>

                    <p:panel id="correct" header="#{bundleVar.correct}">
                        <h:outputText value="#{dashboardView.result.anzCorrectRecords}" />
                    </p:panel>

                    <p:panel id="incorrect" header="#{bundleVar.incorrect}">
                        <h:outputText value="#{dashboardView.anzIncorrectRecords}"  />
                    </p:panel>

                    <p:panel id="duration" header="#{bundleVar.duration}">
                        <h:outputText value="#{dashboardView.duration}" />
                    </p:panel>           

                    <p:panel id="donutChart" header="#{bundleVar.pieChart}" style="width:195%;text-align:left;">
                            <p:chart type="donut" responsive="true" model="#{dashboardView.donutModel}" style="width:100%;height:300px;"/>
                    </p:panel>
                    
                    <p:panel id="platzhalter" collapsed="true"/>

                    <p:panel id="barChart" header="#{bundleVar.barChart}" style="width:195%;text-align:left;">
                        <p:chart type="bar" responsive="true" model="#{dashboardView.barChart}" style="width:100%;margin-left:7px;margin-right:5px;height:300px;" /> 
                    </p:panel>

                    <p:panel id="graph" header="#{bundleVar.graph}" style="width:395%;text-align:left;">
                        <p:chart type="line" rendered="true" responsive="true" model="#{dashboardView.lineModel}" style="width:100%;margin-left:7px;margin-right:5px;height:300px;" /> 
                    </p:panel>

                </p:dashboard>

            </h:form>
        </div>

    </ui:define>


</ui:composition>
