<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/template.xhtml"
                xmlns:ph="http://primefaces.org/harmony"
                xmlns:pe="http://primefaces.org/ui/extensions">

    <ui:define name="title">
        DetailScreen
    </ui:define>

    <ui:define name="sideBar1">
        <ph:menu widgetVar="me">
            <p:menuitem id="om_details" style="background-color: #f7d5b4;" disabled="true" value="Details" icon="fa fa-info" outcome="/detailScreen.xhtml"/>
            <p:menuitem id="om_dashboard"  value="Dashboard" icon="fa fa-fw fa-dashboard" outcome="/dashboard.xhtml" />
            <p:menuitem id="om_ruleGenerator" value="Rule Generator" icon="fa fa-spinner" outcome="/index.xhtml" />
        </ph:menu>

    </ui:define>

    <ui:define name="content">


        <h:form id="form">

            <p:growl id="messages" showDetail="true" >
                <p:autoUpdate/>
            </p:growl>


            <p:dataTable id="resultTable" widgetVar="resultTable" var="record" filteredValue="#{detailBean.filteredList}" value="#{detailBean.recordList}"
                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {Exporters}"
                         paginator="true" rows="25">
                <f:facet name="{Exporters}">
                    <div style="float: right;margin: 1px;">

                        <h:commandLink>
                            <p:graphicImage name="images/PDFLogo.png" width="24"  library="harmony-layout"/>
                            <p:fileDownload value="#{detailBean.downloadPDF()}"/>
                        </h:commandLink>

                    </div>
                </f:facet>

                <p:column exportable="false" style="width:42px" >
                    <p:rowToggler />
                </p:column>

                <p:column filterBy="#{record}" filterFunction="#{detailBean.ruleFilter}">
                    <f:facet name="header">
                        <h:outputText value="#{bundleVar.record}" style="font-size: large; font-weight: bold"/>
                        <br/>
                        <p:selectOneMenu  onchange="PF('resultTable').filter()" converter="ruleConverter" value="#{detailBean.filteredRule}" 
                                          valueChangeListener="#{detailBean.filteredRuleListener}">
                            <f:selectItem itemLabel="#{bundleVar.selectRule}" itemValue="#{null}" noSelectionOption="true"/>
                            <f:selectItems value="#{detailBean.ruleList}"/>
                        </p:selectOneMenu>
                    </f:facet>

                    <f:facet name="filter">
                        <p:selectOneButton onchange="PF('resultTable').filter()" value="#{detailBean.ruleCorrect}" valueChangeListener="#{detailBean.stateOfRuleListener}">
                            <f:selectItem itemLabel="#{bundleVar.all}" itemValue="#{null}" noSelectionOption="true"/>
                            <f:selectItem itemLabel="#{bundleVar.correct}" itemValue="#{true}"/>
                            <f:selectItem itemLabel="#{bundleVar.incorrect}" itemValue="#{false}"/>
                        </p:selectOneButton>
                    </f:facet>

                    <h:outputText value="#{record.values}" />
                </p:column>

                <p:column filterBy="#{detailBean.isRecordCorrect(record)}" width="350" style="font-size: large; font-weight: bold">
                    <f:facet name="header">
                        #{bundleVar.result}
                    </f:facet>
                    <f:facet name="filter" >
                        <p:selectOneButton onchange="PF('resultTable').filter()" value="#{detailBean.resultCorrect}" valueChangeListener="#{detailBean.stateOfResultListener}">
                            <f:converter converterId="javax.faces.Boolean" />
                            <f:selectItem itemLabel="#{bundleVar.all}" itemValue="#{null}"/>
                            <f:selectItem itemLabel="#{bundleVar.correct}" itemValue="#{true}" />
                            <f:selectItem itemLabel="#{bundleVar.incorrect}" itemValue="#{false}" />
                        </p:selectOneButton>
                    </f:facet>
                    <p:graphicImage style="display: block; margin: 0px auto;" name="#{detailBean.getResultImage(record)}" library="harmony-layout" />
                </p:column>

                <p:rowExpansion id="rowExpansion">
                    <br/>
                    <p:dataTable  id="ruleTable" widgetVar="ruleTable" value="#{detailBean.getColumnListWithRules()}" var="column" >
                        <p:column headerText="#{bundleVar.attribute}">
                            <div style="white-space: pre-wrap">
                                <h:outputText value="#{column.name}: #{record.getDetailMessage(column)}" />
                            </div>
                        </p:column>
                        <p:column headerText="#{bundleVar.rules}">
                            <div style="white-space: pre-line">
                                <h:outputText value="#{detailBean.getRuleBooleanMap(record,column)}" />
                            </div>
                        </p:column>

                    </p:dataTable>

                    <br/>
                </p:rowExpansion>

            </p:dataTable>

        </h:form>
    </ui:define>


</ui:composition>
