<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/template.xhtml"
                xmlns:ph="http://primefaces.org/harmony">

    <ui:define name="title">
        Group Screen
    </ui:define>

    <ui:define name="sideBar1">
        <ph:menu widgetVar="me">
            <p:submenu  label="Rule Generator" id="om_ruleGenerator"   icon="fa fa-spinner"  >
                <p:menuitem id="om_home" value="Rule Generator"   icon="fa fa-spinner"  outcome="/index"/>
                <p:menuitem id="om_groups" value="Groups" icon="fa fa-fw fa-cog" style="background-color: #f7d5b4;" outcome="/groupScreen.xhtml" />
                <p:menuitem id="om_template" value="Templates" icon="fa fa-fw fa-cog" outcome="/index"/>

            </p:submenu>
        </ph:menu>

    </ui:define>
    <ui:define name="content">
        <h:form>           
            <p:growl id="messages" showDetail="true" >
                <p:autoUpdate/>
            </p:growl>
            <p:dataTable var="group" value="#{fileUploadBean.groupsList}">
                <f:facet name="header">
                    <h:outputText value= "#{bundleVar.expandGroup}"></h:outputText>
                </f:facet>
                <p:column style="width:56px">
                    <p:rowToggler />
                </p:column>
                <p:column headerText="ID">
                    <h:outputText value="#{group.groupId}" />
                </p:column>
                <p:column headerText="Name">
                    <h:outputText value="#{group.groupName}" />
                </p:column>

                <p:rowExpansion>

                    <p:dataTable id="ruleTable" value="#{group.groupList}" var="gss" >
                        <p:column headerText="#{bundleVar.rule}">
                            <div style="white-space: pre-wrap">
                                <h:outputText value="#{gss.r}" />
                            </div>
                        </p:column>
                        <p:column headerText="#{bundleVar.customized}">
                            <p:outputLabel value=" " rendered="#{gss.r.id eq 4}"> 
                                <h:outputText value="#{bundleVar.country} "></h:outputText>
                                <h:outputText value="#{gss.cr.country}"></h:outputText>
                            </p:outputLabel>
                            <p:outputLabel value=" " rendered="#{gss.r.id  eq 12}"> 
                                <h:outputText value="#{bundleVar.bannedWords}"></h:outputText>
                                <h:outputText value="#{gss.cr.bannedWords}"></h:outputText>
                            </p:outputLabel>
                            <p:outputLabel value=" " rendered="#{gss.r.id  eq 15}"> 
                                <h:outputText value="#{bundleVar.dateFormat}"></h:outputText>
                                <h:outputText value="#{gss.cr.dateFormat}"></h:outputText>
                            </p:outputLabel>
                            <p:outputLabel value=" " rendered="#{gss.r.id  eq 16}"> 
                                <h:outputText value="#{bundleVar.parameter} "></h:outputText>
                                <h:outputText value="#{gss.cr.parameter}"></h:outputText>
                            </p:outputLabel>
                            <p:outputLabel value=" " rendered="#{gss.r.id  eq 1}"> 
                                <h:outputText value="#{bundleVar.valueRange} "></h:outputText>
                                <h:outputText value="#{gss.cr.valueRangeLeft}"></h:outputText>
                                <h:outputText value="-"></h:outputText>
                                <h:outputText value="#{gss.cr.valueRangeRight}"></h:outputText>
                            </p:outputLabel>
                        </p:column>


                    </p:dataTable>

                </p:rowExpansion>

            </p:dataTable>

            <p:commandButton id="customize" process="@this" oncomplete="PF('dlg2').show()" update="groupDialog" value="#{bundleVar.createGroup}"    icon="fa fa-plus-circle" style="margin-top: 10px;"/> 

            <p:dialog  id="groupDialog" widgetVar="dlg2" height="600" width="1200">
                <h:panelGrid columns="4">
                    <h:outputText value="GroupID: "></h:outputText>
                    <p:inputText id="groupID" value="#{fileUploadBean.groupID}"  ></p:inputText>
                    <h:outputText value="GroupName: "></h:outputText>
                    <p:inputText id="groupName" value="#{fileUploadBean.groupName}"  ></p:inputText>
                    <p:commandButton id="saveInDialog" value="#{bundleVar.save}" icon="fa fa-fw fa-save" update="groupDialog"
                                     ajax="false"    oncomplete="PF('dlg2').hide()" action="#{fileUploadBean.saveGroupRules}" style="float: right;margin-top: 10px;"></p:commandButton> 
                </h:panelGrid>
                <p:dataTable id="dialogRuleTable" value="#{fileUploadBean.selectListForGroups}" var="key">
                    <p:column headerText="#{bundleVar.choose}">

                        <p:selectBooleanButton id="chooserButton"  value="#{key.chooser}" onLabel="Yes" offLabel="No" 
                                               onIcon="fa fa-check-square-o" offIcon="fa fa-remove (alias)" style="width:120px"/>

                    </p:column>
                    <p:column headerText="#{bundleVar.rule}">
                        <h:outputLink id="fade" value="#">
                            <h:outputText  value="#{key.r.name}" style="color: #000000" />
                        </h:outputLink>

                        <p:tooltip id="toolTipFade" for="fade" value="#{key.r.description}" position="top"/>
                    </p:column>
                    <p:column headerText="Customizable">
                        <p:outputLabel value=" " rendered="#{key.r.id eq 1}"> 
                            <p:inputText id="ValueRangeLeft" value="#{fileUploadBean.valueRangeLeft}"  ></p:inputText>
                            <h:outputText value="-"></h:outputText>
                            <p:inputText id="ValueRangeRight" value="#{fileUploadBean.valueRangeRight}"  ></p:inputText>
                        </p:outputLabel>
                        <p:outputLabel value=" " rendered="#{key.r.id eq 4}"> 
                            <p:selectOneMenu value="#{fileUploadBean.country}">
                                <f:selectItems value="#{fileUploadBean.countryList}"/>
                            </p:selectOneMenu>
                        </p:outputLabel>
                        <p:outputLabel value=" " rendered="#{key.r.id eq 12}"> 
                            <p:inputText id="bannedWords" value="#{fileUploadBean.bannedWords}"  ></p:inputText>
                            <p:tooltip id="toolTipFad5" for="bannedWords" value="#{bundleVar.pleaseSplitTheWords}" position="top"/>
                        </p:outputLabel>
                        <p:outputLabel value=" " rendered="#{key.r.id eq 15}"> 
                            <p:selectOneMenu value="#{fileUploadBean.dateFormat}">
                                <f:selectItems value="#{fileUploadBean.dateList}"/>
                            </p:selectOneMenu>
                        </p:outputLabel>
                        <p:outputLabel value=" " rendered="#{key.r.id eq 16}"> 
                            <p:inputText id="parameter" value="#{fileUploadBean.parameter}"  ></p:inputText>
                            <p:tooltip id="toolTipFad6" for="parameter" value="#{bundleVar.pleaseSplitTheWords}" position="top"/>
                        </p:outputLabel>
                    </p:column>
                </p:dataTable>
            </p:dialog>
        </h:form>

    </ui:define>
</ui:composition>
