<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/template.xhtml"
                xmlns:ph="http://primefaces.org/harmony"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:define name="title">
        DataQualityGateWay
    </ui:define>

    <ui:define name="sideBar1">
        <ph:menu widgetVar="me">
            <p:submenu  label="Rule Generator" id="om_ruleGenerator" style="background-color: #f7d5b4;"  icon="fa fa-spinner"  >
                <p:menuitem id="om_groups" value="Groups" icon="fa fa-fw fa-cog" outcome="/groupScreen.xhtml" />
                <p:menuitem id="om_template" value="Templates" icon="fa fa-fw fa-cog" outcome="/template.xhtml"/>

            </p:submenu>
            <p:menuitem id="om_dashboard" value="Dashboard" icon="fa fa-fw fa-dashboard" outcome="/dashboard.xhtml" disabled="true"/>

        </ph:menu>

    </ui:define>

    <ui:define name="topBar1">

    </ui:define>
    <ui:define name="content">
        <h:form>

            <p:fileUpload label="#{bundleVar.chooseFile}" fileUploadListener="#{fileUploadBean.handleFileUpload}" mode="advanced" dragDropSupport="false"
                          update="messages columnTable fileNametext" allowTypes="/(\.|\/)(csv|json|xml)$/" multiple="false"/>


            <p:selectOneMenu value="#{fileUploadBean.templateName}" valueChangeListener="#{fileUploadBean.templateSelected}">
                <f:selectItem itemLabel="Select Template" itemValue="" noSelectionOption="true"/>
                <f:selectItems value="#{fileUploadBean.templates}"/>
                <p:ajax event="valueChange" process="@this" update="columnTable"/>
            </p:selectOneMenu>



            <br/>
            <p:growl id="messages" showDetail="true" >
                <p:autoUpdate/>
            </p:growl>
            <p:commandButton value="Start" action="#{fileUploadBean.startChecking}" style="margin-bottom: 20px;margin-right: 20px;margin-top: 20px; width: 120px" icon="fa fa-fw fa-arrow-right " />
            <h:outputText id="fileNameout" value="Choosen File" style="background-color: white; padding-bottom: 6px; padding-top: 6px; color: black;padding-left: 12px;padding-right: 12px "> </h:outputText>
            <h:outputText id="fileNametext" value="#{fileUploadBean.fileName}" style="background-color: white; padding-bottom: 6px; padding-top: 6px; color: black;padding-right: 12px"> </h:outputText>

            <p:commandButton id="CreateTemplate" value="#{bundleVar.createTemplate}"   process="@this" oncomplete="PF('dlg0').show()"  update="TemplateDialog" style="margin-bottom: 20px;margin-left: 20px;margin-top: 20px; width: 190px" icon="fa fa-fw fa-save"  />

            <p:dialog  id="TemplateDialog" header="create Template" widgetVar="dlg0" height="50" width="420">
                <h:panelGrid columns="3">
                    <h:outputText value="#{bundleVar.templateName}" ></h:outputText>
                    <p:inputText id="TemplateInupt" value="#{fileUploadBean.newTemplateName}"  ></p:inputText>
                    <p:commandButton id="saveInTemplateDialog" value="#{bundleVar.save}" icon="fa fa-fw fa-save" update="TemplateDialog"
                                     ajax="false"      action="#{fileUploadBean.createTemplate}"           oncomplete="PF('dlg0').hide()" style="float: right;"></p:commandButton> 
                </h:panelGrid>
            </p:dialog>

            <p:dataTable  id="columnTable" var="column" value="#{fileUploadBean.columnList}">
                <p:column headerText="#{bundleVar.column}">
                    <h:outputText value="#{column.name}"/> 
                </p:column>

                <p:column headerText="#{bundleVar.type}">
                    <p:selectOneMenu value="#{column.dataType}">
                        <f:selectItems value="#{fileUploadBean.typeList}"/>
                    </p:selectOneMenu>
                </p:column>

                <p:column headerText="#{bundleVar.rule}">
                    <p:commandButton value="#{bundleVar.addRule}" process="@this" update="chooserDialog" onclick="#{fileUploadBean.saveColumn(column)}"
                                     action="#{fileUploadBean.saveColumn(column)}" oncomplete="PF('dlg2').show()" >
                        <!--Über action den Wert zusätzlich setzen, weil man sonst immer die letzte Spalte im RuleScreen hat-->


                    </p:commandButton>
                    <p:dialog  id="chooserDialog" header="#{bundleVar.ruleChooser}" widgetVar="dlg2" height="300" width="700">
                        <p:dataTable id ="RuleTable" var="key" value="#{fileUploadBean.getChooserListBySelectedColumn(column)}">
                            <p:column headerText="#{bundleVar.choose}">

                                <p:selectBooleanButton id="chooserButton"  value="#{key.chooser}" onLabel="Yes" offLabel="No" 
                                                       onIcon="fa fa-check-square-o" offIcon="fa fa-remove (alias)" style="width:120px"/>

                            </p:column>
                            <p:column headerText="#{bundleVar.rule}">
                                <h:outputLink id="fade" value="#">
                                    <h:outputText  value="#{key.r.name}" style="color: #000000" />
                                </h:outputLink>

                                <p:tooltip id="toolTipFade" for="fade" value="#{key.r.description}" position="top"/>
                            </p:column>
                            <p:column style="width: 50px" >
                                <p:outputLabel value=" " rendered="#{key.r.customizable}"> 
                                    <i  class="fa fa-fw fa-exchange"></i>
                                </p:outputLabel>
                            </p:column>
                        </p:dataTable>

                        <p:commandButton id="customize" value="#{bundleVar.customize}"  action="#{fileUploadBean.toRule}" 
                                         icon="fa fa-fw fa-exchange" style="margin-top: 10px;"/> 
                        <p:commandButton id="saveInDialog" value="#{bundleVar.save}" icon="fa fa-fw fa-save" update="chooserDialog"
                                         oncomplete="PF('dlg2').hide()" action="#{fileUploadBean.saveRules}" style="float: right;margin-top: 10px;"></p:commandButton> 



                    </p:dialog>
                </p:column>
                <p:column headerText="#{bundleVar.group}">
                    <p:commandButton value="#{bundleVar.addGroup}" process="@this" update="chooserGroupDialog" onclick="#{fileUploadBean.saveColumn(column)}"
                                     action="#{fileUploadBean.saveColumn(column)}" oncomplete="PF('dlg3').show()" >
                        <!--Über action den Wert zusätzlich setzen, weil man sonst immer die letzte Spalte im RuleScreen hat-->


                    </p:commandButton>
                    <p:dialog  id="chooserGroupDialog" header="#{bundleVar.chooseGroup}" widgetVar="dlg3" height="300" width="700">
                        <p:dataTable id ="GroupChooseTable" var="key" value="#{fileUploadBean.getGroupChooserListBySelectedColumn(column)}">
                            <p:column headerText="#{bundleVar.choose}">
                                <p:selectBooleanButton id="chooserGroupButton1"  value="#{key.chooser}" onLabel="Yes" offLabel="No" 
                                                       onIcon="fa fa-check-square-o" offIcon="fa fa-remove (alias)" style="width:120px"/>
                            </p:column>
                            <p:column headerText="Group">
                                <h:outputLink id="fade" value="#">
                                    <h:outputText  value="#{key.g.groupName}" style="color: #000000" />
                                </h:outputLink>
                            </p:column>
                        </p:dataTable>
                        <p:commandButton id="saveInGroupDialog" value="#{bundleVar.save}" icon="fa fa-fw fa-save" update="chooserGroupDialog"
                                         oncomplete="PF('dlg3').hide()" action="#{fileUploadBean.saveRules}" style="float: right;margin-top: 10px;"></p:commandButton> 
                    </p:dialog>  

                </p:column>
            </p:dataTable>

        </h:form>
    </ui:define>


</ui:composition>
