
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/template.xhtml">

    <ui:define name="title">Rule Screen</ui:define>

    <ui:define name="content">
        <style type="text/css">
            .ui-sticky {
                top: 70px !important;
            }
            @media (max-width: 960px) {
                .ui-sticky {
                    top: 110px !important;
                }
            }
            .fileupload-buttonbar {
                background: transparent none;
                border: none;
            }

            .fileupload-content {
                display: none;
            }

            .ui-fileupload .fileinput-button {
                background-color: rgba(142, 103, 64, 0.98);
            }

        </style>

        <h:form >
            <p:toolbar id="tb" >
                <f:facet name="left">
                    <p:commandButton id="cancel" value="Cancel" action="#{fileUploadBean.toGen}" icon="fa fa-fw fa-close" style="margin-top: 10px;"></p:commandButton> 




                    <h:outputText value="#{fileUploadBean.c.name}"  ></h:outputText> 

                </f:facet>
                <f:facet name="right">

                    <p:commandButton id="saveInDialog1" ajax="false" value="#{bundleVar.save}" icon="fa fa-fw fa-save" 
                                     action="#{fileUploadBean.saveCustomizedRules}"  style="float: right;margin-top: 10px;">

                    </p:commandButton>
                </f:facet>
            </p:toolbar>



            <p:sticky target="tb" />


            <p:dataTable id ="RuleTable" var="key" value="#{fileUploadBean.c.chooserList}">

                <p:column headerText="#{bundleVar.choose}">
                    <p:selectBooleanButton id="chooserButton" value="#{key.chooser}"  onLabel="Yes" offLabel="No" 
                                           onIcon="fa fa-check-square-o" offIcon="fa fa-remove (alias)" style="width:120px">

                    </p:selectBooleanButton>


                </p:column>
                <p:column headerText="#{bundleVar.rule}">
                    <h:outputLink id="fade" value="#">
                        <h:outputText  value="#{key.r.name}" style="color: #000000" />
                    </h:outputLink>

                    <p:tooltip id="toolTipFade" for="fade" value="#{key.r.description}" position="top"/>
                </p:column>
                <p:column headerText="Customizable">
                    <p:outputLabel value=" " rendered="#{key.r.id eq 1}"> 
                        <p:inputText id="ValueRangeLeft" value="#{fileUploadBean.valueRangeLeft}"  ></p:inputText>
                        <h:outputText value="-"></h:outputText>
                        <p:inputText id="ValueRangeRight" value="#{fileUploadBean.valueRangeRight}"  ></p:inputText>
                    </p:outputLabel>
                    <p:outputLabel value=" " rendered="#{key.r.id eq 4}"> 
                        <p:selectOneMenu value="#{fileUploadBean.country}">
                            <f:selectItems value="#{fileUploadBean.countryList}"/>
                        </p:selectOneMenu>
                    </p:outputLabel>
                    <p:outputLabel value=" " rendered="#{key.r.id eq 12}"> 
                        <p:inputText id="bannedWords" value="#{fileUploadBean.bannedWords}"  ></p:inputText>
                        <p:tooltip id="toolTipFad5" for="bannedWords" value="Please split the words with ','" position="top"/>
                    </p:outputLabel>
                    <p:outputLabel value=" " rendered="#{key.r.id eq 15}"> 
                        <p:selectOneMenu value="#{fileUploadBean.dateFormat}">
                            <f:selectItems value="#{fileUploadBean.dateList}"/>
                        </p:selectOneMenu>
                    </p:outputLabel>
                    <p:outputLabel value=" " rendered="#{key.r.id eq 16}"> 
                        <p:inputText id="parameter" value="#{fileUploadBean.parameter}"  ></p:inputText>
                        <p:tooltip id="toolTipFad6" for="parameter" value="Please split the words with ','" position="top"/>
                    </p:outputLabel>
                    <p:outputLabel value=" " rendered="#{key.r.id eq 18}"> 
                        <p:fileUpload label="#{bundleVar.chooseFile}" fileUploadListener="#{fileUploadBean.handleTableFileUpload}" mode="advanced" dragDropSupport="false"
                                      allowTypes="/(\.|\/)(csv|json|xml)$/" multiple="false"  />
                    </p:outputLabel>
                </p:column>
            </p:dataTable>
        </h:form>
    </ui:define>
</ui:composition>
