<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/template.xhtml"
                xmlns:ph="http://primefaces.org/harmony">

    <ui:define name="title">
        Template Screen
    </ui:define>

    <ui:define name="sideBar1">
        <ph:menu widgetVar="me">
            <p:submenu  label="Rule Generator" id="om_ruleGenerator"   icon="fa fa-spinner"  >
                <p:menuitem id="om_home" value="Rule Generator"   icon="fa fa-spinner"  outcome="/index"/>
                <p:menuitem id="om_groups" value="Groups" icon="fa fa-fw fa-cog"  outcome="/groupScreen.xhtml" />
                <p:menuitem id="om_template" value="Templates" icon="fa fa-fw fa-cog" outcome="/index" style="background-color: #f7d5b4;"/>

            </p:submenu>
        </ph:menu>

    </ui:define>
    <ui:define name="content">
        <h:form>
            <p:growl id="messages" showDetail="true" >
                <p:autoUpdate/>
            </p:growl>
            <p:dataTable var="temp" value="#{fileUploadBean.templateList}">
                <f:facet name="header">
                   <h:outputText value= "#{bundleVar.expandGroup}"></h:outputText>
                </f:facet>
                <p:column style="width:56px">
                    <p:rowToggler />
                </p:column>
                <p:column headerText="Name">
                    <h:outputText value="#{temp.name}" />
                </p:column>

                <p:rowExpansion>

                    <p:dataTable id="templateTable" value="#{fileUploadBean.setTemplateColumnList(temp.name)}" var="c" >
                        <p:column headerText="#{bundleVar.rulesAndGroups}" style="width:86px">
                            <p:rowToggler />
                        </p:column>

                        <p:column headerText="#{bundleVar.column}">
                            <div style="white-space: pre-wrap">
                                <h:outputText value="#{c.name}" />
                            </div>
                        </p:column>




                        <p:rowExpansion >

                            <p:panelGrid columns="2">
                                <p:dataTable id="templateRTable" value="#{c.showChooserList}" var="s"  >
                                    <p:column headerText="#{bundleVar.rule}"  >      

                                        <h:outputText value="#{s.r}" />

                                    </p:column>
                                    <p:column headerText="#{bundleVar.customizedRule}"  >      

                                        <p:outputLabel value=" " rendered="#{s.r.id eq 4}"> 
                                            <h:outputText value="#{bundleVar.country}"></h:outputText>
                                            <h:outputText value="#{c.customRule.country}"></h:outputText>
                                        </p:outputLabel>
                                        <p:outputLabel value=" " rendered="#{s.r.id eq 12}"> 
                                            <h:outputText value="#{bundleVar.bannedWords}" ></h:outputText>
                                            <h:outputText value="#{c.customRule.bannedWords}"></h:outputText>
                                        </p:outputLabel>
                                        <p:outputLabel value=" " rendered="#{s.r.id eq 15}"> 
                                            <h:outputText value="#{bundleVar.dateFormat}"></h:outputText>
                                            <h:outputText value="#{c.customRule.dateFormat}"></h:outputText>
                                        </p:outputLabel>
                                        <p:outputLabel value=" " rendered="#{s.r.id eq 16}"> 
                                            <h:outputText value="#{bundleVar.parameter}"></h:outputText>
                                            <h:outputText value="#{c.customRule.parameter}"></h:outputText>
                                        </p:outputLabel>
                                        <p:outputLabel value=" " rendered="#{s.r.id eq 1}"> 
                                            <h:outputText value="#{bundleVar.valueRange}"></h:outputText>
                                            <h:outputText value="#{c.customRule.valueRangeLeft}"></h:outputText>
                                            <h:outputText value="-"></h:outputText>
                                            <h:outputText value="#{c.customRule.valueRangeRight}"></h:outputText>
                                        </p:outputLabel>
                                    </p:column>
                                </p:dataTable>

                                <p:dataTable id="templateGTable" value="#{c.showGroupList}" var="g"  >

                                    <p:column style="width:56px" >

                                        <p:rowToggler />
                                    </p:column>
                                    <p:column headerText="ID">
                                        <h:outputText value="#{g.g.groupId}" />
                                    </p:column>
                                    <p:column headerText="Name">
                                        <h:outputText value="#{g.g.groupName}" />
                                    </p:column>
                                    <p:rowExpansion>

                                        <p:dataTable id="ruleTable" value="#{g.g.groupList}" var="gss" >
                                            <p:column headerText="#{bundleVar.rule}">
                                                <div style="white-space: pre-wrap">
                                                    <h:outputText value="#{gss.r}" />
                                                </div>
                                            </p:column>
                                            <p:column headerText="#{bundleVar.customized}">
                                                  <p:outputLabel value=" " rendered="#{gss.r.id eq 4}"> 
                                <h:outputText value="#{bundleVar.country} "></h:outputText>
                                <h:outputText value="#{gss.cr.country}"></h:outputText>
                            </p:outputLabel>
                            <p:outputLabel value=" " rendered="#{gss.r.id  eq 12}"> 
                                <h:outputText value="#{bundleVar.bannedWords}"></h:outputText>
                                <h:outputText value="#{gss.cr.bannedWords}"></h:outputText>
                            </p:outputLabel>
                            <p:outputLabel value=" " rendered="#{gss.r.id  eq 15}"> 
                                <h:outputText value="#{bundleVar.dateFormat}"></h:outputText>
                                <h:outputText value="#{gss.cr.dateFormat}"></h:outputText>
                            </p:outputLabel>
                            <p:outputLabel value=" " rendered="#{gss.r.id  eq 16}"> 
                                <h:outputText value="#{bundleVar.parameter} "></h:outputText>
                                <h:outputText value="#{gss.cr.parameter}"></h:outputText>
                            </p:outputLabel>
                            <p:outputLabel value=" " rendered="#{gss.r.id  eq 1}"> 
                                <h:outputText value="#{bundleVar.valueRange} "></h:outputText>
                                <h:outputText value="#{gss.cr.valueRangeLeft}"></h:outputText>
                                <h:outputText value="-"></h:outputText>
                                <h:outputText value="#{gss.cr.valueRangeRight}"></h:outputText>
                            </p:outputLabel>
                                            </p:column>

                                        </p:dataTable>

                                    </p:rowExpansion>
                                </p:dataTable>
                            </p:panelGrid>
                        </p:rowExpansion>


                    </p:dataTable>

                </p:rowExpansion>

            </p:dataTable>


        </h:form>

    </ui:define>
</ui:composition>
