/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10.12.2018, 18:58:25
    Author     : max
*/

.dialogbutton {
    position: absolute !important;
    bottom: 15px !important;
    right: 15px !important;
}